a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.hr-hidden {
  border-top: 1px solid white;
}


/* ===================================
      Navigation Bar
=================================== */

/* Navbar Background Color */
.navbar-fixed-top {
  background-color: #052049;
  -webkit-box-shadow: 0 10px 6px -10px #777;
  -moz-box-shadow: 0 10px 6px -10px #777;
  box-shadow: 0 10px 6px -10px #777;
}

/* Navbard UCSF Link */
.navbar-header a {
  color: white;
}
.navbar-brand {
  font-weight: 100;
}

/* Navbar Links */
.navbar-nav li a {
  color: white;
  font-weight: 100;
}
.navbar-nav li a:hover {
  color: black;
}

/* Navbar Hamburger Bar Color */
.navbar-toggle .icon-bar {
  background-color: white;
}



/* ===================================
      Jumbotron
=================================== */

.jumbotron {
  background-color: #148CCB;
  padding-bottom: 0px;
  -webkit-box-shadow: 0 10px 6px -10px #777;
  -moz-box-shadow: 0 10px 6px -10px #777;
  box-shadow: 0 10px 6px -10px #777;
}

.jumbotron h1 {
  color: white;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 8);
}

.jumbotron h2 {
  color: white;
  font-weight: 200;
  text-align: left;
}

.jumbotron h3 {
  color: white;
  font-weight: 200;
  text-align: right;
}

.jumbotron h4 {
  color: white;
  font-weight: 200;
  text-align: right;
  margin-top: 30px;
}

.jumbotron p {
  color: white;
  font-weight: 200;
  text-align: left;
}

.jumbotron btn {
  margin: 0 auto;
}


/* ===================================
      Login
=================================== */

.form-control {
  border: 1px solid #9fcbe2;
}
.btn-default {
  border: 1px solid #9fcbe2;
}

#sign-in-btn {
  background-color: #178CCb;
  color: #fff;
  border-color: #ccc;
}
#sign-in-btn:hover {
  background-color: #e2e1de;
  color: black;
}



/* ===================================
      Thumbnail
=================================== */

.thumbnail {
  background-color: #e8f4fa;
  border: 1px solid #9fcbe2;
  -webkit-box-shadow: 0 5px 3px -5px #777;
  -moz-box-shadow: 0 5px 3px -5px #777;
  box-shadow: 0 5px 3px -5px #777;
}



/* ===================================
      Table
=================================== */

.table {
  margin-top: 30px;
}



/* ===================================
      Form
=================================== */

.number {
  background-color: #f7a665;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  margin-bottom: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 3px -5px #777;
  -moz-box-shadow: 0 5px 3px -5px #777;
  box-shadow: 0 5px 3px -5px #777;
}

.requiredField {
  color: #f25d7f;
}

#idSensArea, #hideDefaultContact, #hideApproverContact {
  display: none;
}

#key2area, #key3area, #key4area, #key5area {
  display: none;
}


.btnGreenOutline {
border: 1px solid #90bd31;
}

.info-button {
  text-align: center;
}

.sr-icon:hover {
  border: 2px solid red;
}


/* ===================================
      Modal
=================================== */

.panel-default {
  border-color: #9fcbe2;
}


.panel-group .panel-heading {
  background-color: #e8f4fa;
}

#modalLink {
  font-weight: 400;
  margin-bottom: 25px;
}

#quick-response {
  padding-bottom: 0;
}


/* ===================================
      Work Details
=================================== */

.approved {
  color: #007cbe;
  font-weight: 700;
}
.wo-header {
  font-size: 20px;
  color: #18a3ac;
}
.wo-header-status {
  font-size: 20px;
  color: #f26d04;
}




/* ===================================
      Footer
=================================== */

#emergency {
  color: red;
}


/* ===================================
      Media Queries
=================================== */


@media (max-width: 375px) {

  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15;
  }
  
  .navbar-brand {
    font-size: 15px;
  }
  /* Modify Table View*/
  
  
  table tbody {
    max-width: 310px;
  }
  table .wo-location,
  .wo-contact,
  .wo-type,
  .wo-dept,
  .wo-status,
  .wo-fy,
  .wo-fp,
  .wo-person {
    display: none;
  }
  .container,
  .jumbotron,
  .indexNav,
  .loginForm {
    min-width: 335px;
  }
}
